In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_stocks = pd.read_csv("ibovdia_09-08-22.csv", sep=",", index_col=0)

In [3]:
df_stocks

                Ação        Tipo  Qtde. Teórica Part. (%)
Código
RRRP3   3R PETROLEUM  ON      NM    200.372.163     0,341
ALPA4     ALPARGATAS  PN      N1    201.257.220     0,193
ABEV3      AMBEV S/A          ON  4.380.195.841     3,214
AMER3     AMERICANAS  ON      NM    596.875.824     0,421
ASAI3          ASSAI  ON      NM    794.531.367     0,682
...              ...         ...            ...       ...
VALE3           VALE  ON      NM  3.768.748.489    12,817
VIIA3            VIA  ON      NM  1.596.295.753     0,231
VBBR3          VIBRA  ON      NM  1.131.883.365     1,016
WEGE3            WEG  ON      NM  1.484.859.030     2,189
YDUQ3     YDUQS PART  ON      NM    300.833.122     0,231

[90 rows x 4 columns]

In [5]:
df_stocks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90 entries, RRRP3 to YDUQ3
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ação           90 non-null     object
 1   Tipo           90 non-null     object
 2   Qtde. Teórica  90 non-null     object
 3   Part. (%)      90 non-null     object
dtypes: object(4)
memory usage: 3.5+ KB

In [6]:
df_stocks.describe()

            Ação        Tipo Qtde. Teórica Part. (%)
count         90          90            90        90
unique        87          17            90        87
top     BRADESCO  ON      NM   277.027.077     0,231
freq           2          58             1         3

In [7]:
df_stocks.isna().sum()

Ação             0
Tipo             0
Qtde. Teórica    0
Part. (%)        0
dtype: int64

In [10]:
import yfinance as yf

ModuleNotFoundError: No module named 'yfinance'